* {
	font-family: "Montserrat";
	font-weight: bolder;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    50% {
        transform: scaleY(1)
    }
    100% {
        transform: scaleY(1)
    }
}

@keyframes growUp {
    0% {
        transform: scaleY(1)
    }
    50% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(0)
    }
}

body {
	background: #07153f;
	animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#headshot {
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	width: 35vmin;
	height: 35vmin;
	float: left;
	margin-right: 2vmin;
}

h1 {
    color: rgb(116, 116, 240);
	font-size: 5vmin;
	text-shadow: 4px 4px 8px black;
	text-align: left;
	font-weight: bold;
}

h2 {
	color: rgb(116, 116, 240);
	font-size: 3.5vmin;
	text-shadow: 4px 4px 8px black;
	text-align: left;
}

h3 {
	color: rgb(116, 116, 240);
	font-size: 2.25vmin;
	text-shadow: 4px 4px 8px black;
	text-align: left;
	font-style: italic;
}

button {
	background: none;
	border: none;
	padding: 0;
	position: relative;
	display: block;
	top: 0;
	cursor: pointer;
	border-radius: 4px;
}

button:focus {
	outline: none;
	border: none;
}

.dropdown button {
	color: #993108;
	font-size: 2.5vmin;
	text-shadow: 1px 1px 2px black;
	transition: transform 0.3s ease;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-left: 20px;
	margin-top: -15px;
}

#dropdown-content {
	display: none;
	position: absolute;
	min-width: 25.6vmin;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: rgba(131, 131, 131, 0.5);
	border-radius: 8px;
	z-index: 1;
}

#dropdown-content button {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover #dropdown-content {
	animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
	display: block;
}

.dropdown:not(hover) #dropdown-content {
	animation: growUp 300ms ease-in-out forwards;
    transform-origin: top center;
	display: block;
}

.dropdown:hover #dropbtn #one {
	transform: translateY(2.5vmin) rotate(45deg);
}

.dropdown:hover #dropbtn #two {
	opacity: 0;
}

.dropdown:hover #dropbtn #three {
	transform: translateY(-2.5vmin) rotate(-45deg);
}

.dropdown:not(hover) #dropbtn {
	animation: growDown 300ms forwards;
}

#dropbtn {
	border: none;
	position: relative;
}

.drop {
	width: 8vmin;
	height: 1vmin;
	background-color: white;
	margin: 1.5vmin 0;
	border-radius: 8px;
	transition: all 150ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.button-container-right {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 2vw;
	float: right;
	margin-right: 20px;
}

.small-btn {
	height: 9vmin;
	width: 9vmin;
	margin-top: -10px;
}

#resume-update {
	font-size: 1.6vmin;
	color: white;
	display: block;
	margin: 1px 0;
	transform: scale(1.05);
}

.content {
	font-size: 2.4vmin;
	color: #f08520;
	text-align: left;
	line-height: 2;
	justify-content: center;
	align-items: flex-start;
}

#lce {
	width: 55vmin;
	height: 17.5vmin;
	float: left;
	margin-right: 2vmin;
}

#udlogo {
	width: 37vmin;
	height: 39.5vmin;
	float: left;
	margin-right: 2vmin;
}