* {
	font-family: "Montserrat";
	font-weight: bolder;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
	background-color: #002244;
	animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#headshot {
	border-radius: 16px;
	text-indent: 45px;
	box-shadow: 4px 4px 8px black;
	width: 300px;
	height: 450px;
}

.left-side {
	text-indent: 45px;
}

.right-side {
	margin-right: 45px;
	text-align: right;
}

h1 {
    color: blue;
	font-size: 35px;
	text-shadow: 4px 4px 8px black;
}

h2 {
	color: black;
}

button {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	cursor: pointer;
	border-radius: 4px;
}

button:focus {
	outline: none;
	border: none;
}

.button-container-left button {
	color: #993108;
	font-size: 20px;
	text-shadow: 1px 1px 2px black;
	transition: transform 0.3s ease;
}

.button-container-left button:hover {
	transform: translate(0, -5px);
}

.button-container-left {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 50px;
	float: left;
	margin-left: 45px;
}

.button-container-right {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 50px;
	float: right;
	margin-right: 45px;
}

#resume-update {
	font-size: 12px;
	color: black;
	display: block;
	margin: 1px 0;
}

#welcome {
	font-size: 30px;
	color: #8401ff;
	float: right;
	text-align: center;
	align-items: center;
	position: relative;
    transform: translateX(-10%);
}

.small-btn {
	height: 50px;
	width: 50px;
}